name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.20.1

      - name: Installing dependencies
        run: npm install
      - name: Running tests
        run: npm run test -- -u --ci --updateSnapshot
